.DrawerToggle{
    /* border: 1px solid black; */
    width: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 60%;
}


.Burger{

    border-bottom: 2px solid black;
    /* padding: 1px 1px; */
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}